<!DOCTYPE html>
<html lang="en" ng-app="Launch">
	<head>
		<title>Assignment 1 - It's lunch time!!!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../../bower_components/angular/angular.min.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>

	<body>
		<div ng-controller="LaunchCtrl">
			<label for="foodInput">What do you want to eat?</label>
			<input type="text" id="foodInput" ng-model="foodStr">
			<button type="button" ng-click="setMessage()">Check If Too Much</button>
			<div>
				<div class="note">Note: Empty items and trailing whitespaces will be removed.</div>
			</div>
			<div>
				<div class="message {{ message.class }}">{{ message.text }}</div>
			</div>
		</div>
	</body>
</html>